#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TILDE  &kp N1    &kp N2 // actually 3   &kp N3    &kp N4    &kp N5                      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
&kp LBKT   &kp Q     &kp W  // actually 2   &kp E     &kp R     &kp T                       &kp Y     &kp U     &kp I     &kp O     &kp P     &kp RBKT
&kp TAB    &kp A     &kp S  // nothingg   &kp D     &kp F     &kp G                       &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B     &kp BSPC  &kp RET &kp N     &kp M     &kp COMMA &kp DOT   &kp QMARK &kp RSHFT
&kp LCTRL  &kp LGUI  &mo 2     &kp LALT  &kp BSPC  &kp SPACE                   &kp DEL   &kp PLUS  &mo 1     &kp ESC   &kp RCTRL &kp RALT
            >;
        };

        layer_1 {
            bindings = <
&trans     &trans    &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                   &kp CARET &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &trans
&trans     &trans    &trans    &trans    &trans    &kp A                       &kp B &trans  &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &kp A                       &kp INS    &trans    &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &trans    &trans    &trans  &trans     &trans    &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &trans                      &trans     &trans    &trans    &trans    &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans     &trans    &trans    &trans    &trans    &trans                      &trans     &trans    &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &kp A                       &kp B      &trans    &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &trans                      &trans     &trans    &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &trans    &trans    &trans  &trans     &trans    &trans    &trans    &trans    &trans
&trans     &trans    &trans    &trans    &trans    &trans                      &trans     &trans    &trans    &trans    &trans    &trans
            >;
        };
    };
};
