/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "chastity.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 15 GPIO_ACTIVE_HIGH>  // P0.15 -> 15
        , <&pro_micro 6  GPIO_ACTIVE_HIGH>  // P0.06 -> 6
        , <&pro_micro 4  GPIO_ACTIVE_HIGH>  // P0.04 -> 4
        , <&pro_micro 11 GPIO_ACTIVE_HIGH>  // P0.11 -> 11
        , <&pro_micro 0  GPIO_ACTIVE_HIGH>  // P0.00 -> 0
        , <&pro_micro 4  GPIO_ACTIVE_HIGH>  // P1.04 -> 4 on port 1
        , <&pro_micro 6  GPIO_ACTIVE_HIGH>  // P1.06 -> 6 on port 1
        ;
};
