/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // | Q | W | E | R | T | Y |
            // | A | S | D | F | G | H |
            // | Z | X | C | V | B | N |
            // |CTL|ALT|GUI|SPC|RET|ESC|TAB|
            // |SFT|GRV|BSP|DEL|MIN|EQL|
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y
                &kp A      &kp S      &kp D      &kp F      &kp G      &kp H
                &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N
                &kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &kp RET    &kp ESC    &kp TAB
                &kp LSHFT  &kp GRAVE  &kp BSPC   &kp DEL    &kp MINUS  &kp EQUAL
            >;
        };
    };
};
