if SHIELD_CHASTITY_LEFT

config ZMK_KEYBOARD_NAME
    default "Chastity"

config USB_DEVICE_PRODUCT
    default "Chastity"

config USB_DEVICE_VID
    default 0x1D50

config USB_DEVICE_PID
    default 0x615E

config USB_DEVICE_MANUFACTURER
    default "ZMK Project"

endif
