# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CHASTITY_LEFT
    def_bool $(shields_list_contains,chastity_left)

config SHIELD_CHASTITY_RIGHT
    def_bool $(shields_list_contains,chastity_right)
