// chastity_right.overlay

#include "chastity.dtsi"

&kscan0 {
    row-gpios
        = <&pro_micro P GPIO_ACTIVE_HIGH>  // Row 1 (top row)
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Row 2
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Row 3
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Row 4
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Row 5
        ;

    col-gpios
        = <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 1
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 2
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 3
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 4
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 5
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 6
        , <&pro_micro P GPIO_ACTIVE_HIGH>  // Column 7
        ;
};
