# No whitespace after the comma or in your part name!
config CHASTITY_LEFT
    def_bool $(shields_list_contains,chastity_left)

# No whitespace after the comma or in your part name!
config CHASTITY_RIGHT
    def_bool $(shields_list_contains,chastity_right)